build/
.libs/
configure
configure.in
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
ltmain.sh
Makefile*
.deps
missing
autom4te.cache
ac*.m4
install-sh
mkinstalldirs
libtool
modules
._*
*.lo
*.la
